body{
  font-family: sans-serif;
  line-height: 1.4;
}
article{
  border: 5px solid black;
  margin: 0 auto;
  width: 600px;
}
h2{
  background-color: #f7f7f7;
  text-transform: uppercase;
  font-size: 22px;
  text-align: center;
  width: 100%;
}
p.precio{
  font-size: 24px;
}
p.shipping{
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color:#777
}
p.information{
  color: black;
}
a.information:visited,a.information:link{
  color: black;
}
a.information:hover,a.information:active{
  text-decoration: none;
}
h3.Product{
  text-transform: uppercase;
  font-size: 16px;
}
ul{
  list-style-type:square;
}
button{
  font-size: 20px;
  text-transform: uppercase;
  background-color: black;
  color:white;
  width: 100%;
}
button:hover{
  background-color: white;
  color: black;
}
