*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: hsl(220, 13%, 82%);
}
.principal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 50%;
    border-radius: 15px;
    overflow: hidden;
}
.community{
    grid-column: 1/3;
    background-color: hsl(204, 43%, 93%);
    padding: 2rem;
}
.monthly{
    background-color: hsl(179, 62%, 43%);
    padding: 2rem;
    color: white;
}
.why{
    background-color: hsl(179, 44%, 56%);
    padding: 2rem;
}
.community h1{
    margin: 2rem;
    color: hsl(179, 47%, 46%);;

}
.community h3{
    margin: 2rem;
    color: hsl(71, 73%, 54%);
}
.community p{
    color: rgb(185, 181, 181);
    font-weight: bold;
    margin: 2rem;
}
p{
    line-height: 1.5;
}
h3{
    margin-bottom: 1rem;
}
button{
    width: 75%;
    margin: 1rem;
    background-color:hsl(71, 73%, 54%);
    border:0;
    border-radius: 4px;
    color: white;
    padding: 1rem;
    font-weight: bold;
    margin-top: 2rem;
}
nav{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
nav a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}
p a{
    text-decoration: none;
    color: white;
    font-size: 3rem;
    margin: 1rem;
}
.permonth{
    color: rgba(255, 255, 255, 0.6);
}
.why h3{
    color: white;
    margin: 1rem;
}