*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #f2f2f2;
}
form{
    display: flex;
    flex-direction: row;
    height: 70vh;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
}
input[type="text"]:focus, input[type="email"]:focus{
    background-color: yellow;
}
.primeiro{
    display: grid;
    background-color:#73dde1 ;
    padding: 2rem;
    grid-template-columns: 1fr 2fr;
    border: 1px solid blue;
    border-radius: 7px;
    align-items: center;
    row-gap: 1rem;

}
.subject{
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: 1px solid blue;
    border-radius: 7px;
    background-color:#73dde1 ;
    padding: 2rem;
    column-gap: 1rem;
}
.botons{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: center;
}
button{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 7px;
    background-color:#73dde1 ;
    padding: 2rem;
}
.registration:hover{
    color:red
}
footer{
    background-color: #73dde1;
    padding: 1rem;
    color: blue;
    text-align: center;
    border-bottom: 10px solid rgb(9, 9, 73);
}
@media screen and (max-width: 500px) {
    form{
        flex-direction: column;
    }
    .botons{
        flex-direction: row;
        column-gap: 1rem;
    }
}