*{
  box-sizing: border-box;
  margin:0;
  padding: 0;;
}
header{
  background-color: purple;
  color: white;
  padding: 15px;
}
footer{
  background-color: darkcyan;
  color:white;
  text-align: center;
  font-size: 0.8rem;
  padding: 15px;
}
section{
  display:flex; 
}
nav a{
  text-decoration: none;
  display: block;
  border: 1px solid black;
  background-color: #33b5e5;
  color: #ffffff;
  padding: 8px;
  margin:5px;
}
nav{
  flex-basis:25%;
  display: flex;
  flex-direction: column;
}
.contido{
  flex-basis:25%;
  padding:15px;
}
body{
  margin:8px;
}
@media screen and (max-width:450px) {
  section{
    flex-direction: column;
  }
}