*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;

}
footer{
    background-color: #73dde1;
    text-align: center;
    color: #2b6769;
    border-bottom: 7px solid black;
}

.name{
    background-color: #73dde1;
    border: 3px solid black;
    padding: 2rem;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1rem;
}
.principal{
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.asignaturas{
    background-color: #73dde1;
    border: 3px solid black;
    padding: 2rem;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    column-gap: 1rem;
}
.botons{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.boton{
    padding: 1rem;
    background-color: #73dde1;
    border-radius: 5px;
    border: 3px solid black;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    background-color: yellow;
}

.registration:hover{
    color:red;
}

@media screen and (max-width:500px) {
    .principal{
        flex-direction: column;
    }
    .botons{
        flex-direction: row;
    }
}
a{
    text-decoration: none;
    color: #2b6769;
}
body, html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}

.principal {
    flex: 1;
}