*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header{
  display: flex;
  background-color: #008ae0;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color:white;
}

nav a{
  text-decoration: none;
  font-weight: 500;
  color: white;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  gap: 2rem;
}

body{
  background-color: #f0f4f8;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

.signup{
  padding:0.5rem 1rem ;
  
}
.signup:hover{
  background-color: green;
}
nav{
  display: flex;
  gap:1.5rem;
}
.content{
  display: flex;
  flex-direction: column;
  gap:1rem;
  text-align: center;
}
.content button:hover{
  background-color: cyan;
}

@media screen and (max-width:600px) {
  header,
  .container {
    flex-direction: column;
    gap: 1rem;
  }  
  nav{
    flex-wrap: wrap;
    justify-content: center;
  }
  .corpo img{
    max-width: 200px;
  }
} 
.corpo{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
