*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background-color:  hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;    
}
img{
    border-radius: 50%;
    object-fit: cover;
    width: 100px;
    height: 100px;
}
.principal{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    border-radius: 15px;
    background-color: hsl(0, 0%, 12%);
    padding: 2rem;
    border:1px solid hsl(0, 0%, 12%);
    box-shadow: 0 1px 5px rgba(0, 0, 0,0.4);
}
button{
    width: 100%;
    height: 2rem;
    background-color: hsl(0, 0%, 20%);
    color: white;
    border-radius: 7px;
    border: 1px solid hsl(0, 0%, 12%);
}
h1{
    color: white;
}
h4{
    color: hsl(75, 94%, 57%);
    margin-bottom: 1rem;
}
p{
    color: white;
}