*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.sedans{
    background-color: hsl(31, 77%, 52%);
}
.suvs{
    background-color: hsl(184, 100%, 22%);
}
.luxury{
    background-color: hsl(179, 100%, 13%);
}
p{
    color: hsla(0, 0%, 100%, 0.75);
}
.principal{
    display: flex;
    flex-direction: row;
    width: 50%;
    border-radius: 15px;
    overflow: hidden;
}
h1{
    color: hsl(0, 0%, 95%);
    margin: 2rem;
}
p{
    margin: 2rem;
    line-height: 2.0;
}
button{
    margin: 2rem;
    border-radius: 15px;
    padding-left: 1.2rem;
    padding-bottom: 0.7rem;
    padding-right: 1.2rem;
    padding-top: 0.7rem;
    border: 0;
    cursor: pointer;
}
img{
    margin:2rem;
}
.sedansbutton{
    color: hsl(31, 77%, 52%);
}
.suvsbutton{
    color:hsl(184, 100%, 22%);
}
.luxurybutton{
    color: hsl(179, 100%, 13%);
}

@media screen and (max-width:400px) {
    body{
        flex-direction: column;
    }
    .principal{
        flex-direction: column;
    }
}