*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:rgb(39, 38, 38);
    color: white;
    align-items: center;
    padding: 1rem;
}
.principal{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    margin: 2rem;
    
}
.primeiroc{
    width: 33%;
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(175, 170, 170);
    padding: 1rem;
    row-gap: 1rem;

}
.segundoc{
    border: 3px solid rgb(175, 170, 170);
    display: flex;
    padding: 1rem;
    row-gap: 1rem;
    flex-direction: column;
    width: 33%;

}
.gallery{
    width: 33%;
    border: 3px solid rgb(175, 170, 170);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    row-gap: 1rem;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 0.5rem;
}
button{
    color: white;
    background-color: rgb(23, 123, 190);
    width: 100%;
    padding: 1rem;
}
form{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
fieldset div{
    margin-bottom: 1rem;
}
img{
    margin-right: 10rem;
}